<header class="header-wrapper">
	<h1 class="logo"><a href="/board/list"><%= GLOBAL.LOGO %></a></h1>
	<nav class="navi-wrap">
		<a href="/board" class="navi"><%= GLOBAL.NAVI[0] %></a>
		<a href="/board/list" class="navi"><%= GLOBAL.NAVI[1] %></a>
	</nav>
	<nav class="lang-wrap">
		<a href="./list.html" class="navi active">한국어</a>
		<span> | </span>
		<a href="./list.html" class="navi ">English</a>
	</nav>
</header>
<section class="title-wrapper">
	<div class="wrapper">
		<h2 class="title-wrap"><%= eval(PAGE+'.TITLE') %></h2>
		<p class="desc-wrap"><%= eval(PAGE+'.DESC') %></p>
		<div class="btn-wrap">
			<a href="/board" class="btn btn-primary"><%= BT.CREATE %></a>
		</div>
	</div>
</section> 