<%- include('../inc/head', { css }) %> 
<%- include('../inc/header') %> 
<section class="view-wrapper wrapper">
<%- include('../inc/title-board') %>
<table class="view-tbl">
	<tbody>
		<tr>
			<td class="title"><%= FIELD.TITLE %></td>
			<td class="content"><%= board.title %></td>
		</tr>
		<tr>
			<td class="title"><%= FIELD.WRITER %></td>
			<td class="content"><%= board.writer %></td>
		</tr>
		<tr>
			<td class="title"><%= FIELD.DATE %></td>
			<td class="content"><%= board.createdAt %></td>
		</tr>
		<tr class="content-tr">
			<td class="title"><%= FIELD.CONTENT %></td>
			<td class="content"><%= board.content %></td>
		</tr>
		<tr>
			<td class="title"><%= FIELD.UPFILE %></td>
			<td class="content">
				<% if(board.upfile) { %> 
					<img src="<%= board.upfile %>" alt="<%= FIELD.UPFILE %>" class="my-2 d-block">
					<a href="/board/download/<%= board.id %>" class="my-2 d-block"><%= board.realName || '' %></a>
				<% } else { %>
					<img src="https://via.placeholder.com/120x160" alt="<%= FIELD.COVER %>" class="my-2 d-block">
				<% } %>
			</td>
		</tr>
	</tbody>
</table>
<div class="btn-wrap py-3 d-flex">
	<a href="/board/list" class="btn btn-primary">리스트</a>
	<button class="btn btn-success ml-auto mr-1" id="btUpdate" data-id="<%= board.id %>">수정</button>
	<button class="btn btn-danger" id="btDelete" data-msg="<%= MSG.DELETE %>">삭제</button>
</div>
<form action="/board/delete/<%= board.id %>" method="POST" name="deleteForm">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="id" value="<%= board.id %>">
</form>



<div class="comment-wrap">
	<form action="/board/comment/<%= board.id %>" name="saveComment" method="POST">
		<div class="write-wp">
			<input type="text" name="commentWriter" class="form-control" placeholder="작성자">
			<input type="text" name="commentText" class="form-control" placeholder="한줄 코멘트">
			<button class="btn btn-dark" id="btComment" data-id="<%= board.id %>">댓글 등록</button>
		</div>
		<table class="table table-striped comment-tbl">
			<tbody>
				<% if(board.writer) { %>
				<tr>
					<td class="datetime"><%= board.createdAt %></td>
					<td class="writer"><%= board.writer %></td>
					<td class="comment"><%= board.comment %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</form>
</div>
</section>
<%- include('../inc/foot.ejs', {js}) %>